{% extends "layout.html" %}

{% block body %}

{% if not using_tor %}
<p>You're not using Tor? You *could* use a clearnet proxy...</p>
<p>We have detected that you are not using Tor.</p>
<p>This means that your browsing is not anonymized, and your activity on this site can be recorded by your ISP or others.</p>
<p>If you believe your risk is low, you may upload documents to us without using Tor by accessing the site through a clearnet proxy. Note that in doing so

<ol>
    <li>your activity is exposed to your ISP and may later be accessed by law enforcement or government agencies.</li>
    <li>passive surveillance on your network can record your activity</li>
</ol>
</p>

<p>If you wish to upload documents using a clearnet proxy, <a href="http://{{ upload_onion_url }}.to">click here.</a>

<p>We strongly encourage you to use the <a href="https://www.torproject.org/download/download-easy.html.en">Tor Browser Bundle</a> to protect your security and anonymity when upload documents to our site.</p>

<p>Your IP address is {{ client_ip }}.</p>
{% endif %}

{% endblock %}
